@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.top-banner-content h1 {
  animation: slideInFromTop 1s ease-out;
}
.banner-strip-content {
  animation: slideInFromLeft 1s ease-out;
}

.top-banner {
  background: url(../images/FF.png) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 150px;
  color: #000000;
  height: 550px;
  margin-top: 150px;
}

.top-banner-strip {
  background-color: rgba(0, 0, 0, 0.7);
  gap: 80px;
  color: #fff;
}

.top-banner-strip h3 {
  text-align: center;
}
.share-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.gradient-border-card {
  --angle: 0deg;
  border: 4px solid;
  /* border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1; */
  /* border-image: linear-gradient(var(--angle), #12c2e9, #f64f59) 1; */
  border-image: linear-gradient(var(--angle), green, lightgreen) 1;
  animation: 3s rotate linear infinite;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card-title {
  font-size: 18px;
}
.card-text {
  color: rgb(95, 95, 95);
}
.share-buttons button {
  background: none;
  box-shadow: none;
  border-radius: 50px;
  padding: 0px 10px;
}

.card-img-top {
  height: 220px;
}

.card-icon {
  display: flex;
  justify-content: center;

  color: rgb(49, 49, 49);
  font-size: 20px;
  border-radius: 50%;
  padding: 8px;
  position: absolute;
  top: 47%;
  left: 42%;
}

.img-buttons {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
}

.img-buttons button:first-of-type {
  background-color: green;
  color: #fff;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.img-buttons button:last-of-type {
  background-color: red;
  color: #fff;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media screen and (max-width: 620px) {
  .top-banner-strip {
    gap: 20px;
  }
  .top-banner-strip h3 {
    font-size: 20px;
  }
}
